/* ANCHOR Main */

:root{
    --bleu: #0065FC;
    --bleu-clair: #DEEBFF;
    --gris: #F2F2F2;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Raleway', sans-serif; */

body{
    margin: auto;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    max-width: 1280px;
}
.page-padding{
    padding: 0 40px;
}
a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h4{
    margin: 6px 0;
    font-size: 14px;
}
h2{
    font-size: 19.5px;
}
.star{
    font-size: 12px;
    display: flex;
}
section{
    margin: 30px 0;
}
/* ANCHOR NavBar */

#navbar-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 45px;
}

#navbar-top ul{
    display: flex;
    list-style: none;
    height: 100%;
    margin: 0;
    align-content: center;
    flex-wrap: wrap;
}
#navbar-top ul li {
    height: 100%;
    display: flex;
    position: relative;
    margin: 0px 2em;
    padding: 0 20px;
}
#navbar-top ul li:last-child a {
    color: var(--bleu);
}
#navbar-top ul li:last-child {
    margin-right: 0;
    
}

#navbar-top a{
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
}
#navbar-top ul a{
    display: flex;
    color: black;
    text-decoration: none;
    height: 100%;
    align-items: center;
    position: relative;
}

#navbar-top ul li:before {
    content: "";
    position: absolute;
    background-color: var(--bleu);
    width: 100%;
    height: 0px;
    left: 0;
    top: 0rem;
}
#navbar-top ul li:hover a {
    color: var(--bleu);
}
#navbar-top ul li:hover:before {
    height: 3px;
    transition: 0.2s;
}

/* ANCHOR header */
.localisation{
    display: flex;
    border-radius: 10px;
    max-width: 350px;
    height: 45px;
    margin:1rem 0;
    border: 0.1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}
.localisation .gps{
    width: 14%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px 0 0 10px;
}
.localisation .gps i{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.localisation input{
    width: 60%;
    border: 0px solid rgba(0, 0, 0, 0.1);
    font-weight: 600;
    padding: 0 20px;
}
.localisation .find{
    position: absolute;
    right: 0;
    height: 45px;
    width: 107px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bleu);
    border-radius: 0 10px 10px 0;
    color: white;
    font-weight: 400;
}
.localisation .loupe{
    display: none;
}
.nav-abs{
    font-weight: 600;
}
/* ANCHOR Filtre */

.filter{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
}
.filter .label{
    height: 44px;
    line-height: 50px;
    
    margin-right: 1rem;
}
.filter .tags{
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
.filter .tag-container{
    height: 44px;
    width: auto;
    display: flex;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1) inset;
    border-radius: 36px;
}
.filter a{
    text-decoration: none;
    color: black;
}
.filter .tag-icon{
    background-color: var(--bleu-clair);
    color: var(--bleu);
    border-radius: 25px;
    width: 44px;
    height: 44px;
    position: relative;
}
.filter i{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.tag-label{
    height: 44px;
    margin: 0 15px 0 10px;
}
.filter .tag-container:hover .tag-icon{
    background-color: var(--bleu);
    color: var(--bleu-clair);
}
.filter .tag-container:hover{
    cursor: pointer;
}
.info{
    display: flex;
    align-items: flex-start;
    margin: 1rem 0;
}
/* .info .icon-info{
    border-radius: 25px;
    width: 30px;
    height: 30px;
    color: var(--bleu);
    position: relative;
    border: 1px solid var(--bleu-clair);
}
.info .icon-info i{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
} */
.info i{
    border-radius: 25px;
    color: var(--bleu);
    border: 1px solid var(--bleu-clair);
    min-width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.info p {
    margin: 10px 0 0;
}
/* ANCHOR Première section */

section.align-wide{
    width: 100%;
    height: fit-content;
}
section.column{
    column-gap: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1280px;
}
.bg-grey{
    background-color: var(--gris);
    height: 100%;
    border-radius: 21px;

}
/* ANCHOR Hébergements */

#hebergements-marseille{
    max-width: 780px;

}
#hebergements-marseille > *{
    margin: 35px;
}
#hebergements-marseille .container-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-height: 380px;
}
/* ANCHOR Cartes hébergements */
#hebergements-marseille .card-container{
    border-radius: 23px;
    background-color: white;
    overflow: hidden;
    width: 210px;
    height: 180px;
    box-shadow: 0 0 9px rgba(0,0,0,0.2);
    justify-content: space-between;
}
/* #hebergements-marseille .card-container:nth-child(-n+3){
    margin: 0 0 25px 0;
} */

#hebergements-marseille a{
    margin: 5px;
    border-radius: 17px;
    overflow: hidden;
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column-reverse;
}
#hebergements-marseille .content-img{
    height: calc(100% - (70px - 10px));
    overflow: hidden;
}
#hebergements-marseille .content-text{
    height: 70px;
    padding: 0 10px;
}
#hebergements-marseille p{
    margin: 6px 0;
    font-size: 13px;

}
/* ANCHOR Hébergements img position */

#hebergements-marseille .container-flex .card-container:nth-child(1) .content-img {
    background-position: -29px -26px;
    background-size: 250px;
}
#hebergements-marseille .container-flex .card-container:nth-child(2) .content-img {
    background-position: -10px -40px;
    background-size: 250px;
}
#hebergements-marseille .container-flex .card-container:nth-child(3) .content-img {
    background-position: -35px -55px;
    background-size: 250px;
}
#hebergements-marseille .container-flex .card-container:nth-child(4) .content-img {
    background-position: -35px -86px;
    background-size: 250px;
}
#hebergements-marseille .container-flex .card-container:nth-child(5) .content-img {
    background-position: -4px -20px;
    background-size: 250px;
}
#hebergements-marseille .container-flex .card-container:nth-child(6) .content-img {
    background-position: -41px -155px;
    background-size: 250px;
}
/* ANCHOR Les populaires */
#populaires{
    max-width: 580px;
}
.container-title{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}.container-title h2{
    margin: 0;
}
.container-title i{
    font-size: 22px;
}
#populaires >*{
    margin: 35px;
}
#populaires .container-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    gap: 24px;
}
/* #populaires .container-flex > *:nth-child(2){
    margin: 2rem 0;
} */
#populaires .card-container{
    border-radius: 23px;
    background-color: white;
    overflow: hidden;
    width: 300px;
    height: 130px;
    box-shadow: 0 0 9px rgba(0,0,0,0.2);
}

#populaires a{
    margin: 5px;
    border-radius: 17px;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    height: calc(100% - 10px);
}
#populaires .content-img{
    width: 170px;
    overflow: hidden;
    height: 100%;
}
#populaires .content-text{
    width: 230px;
    padding: 0 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#populaires h4{
    margin: 6px 0;
}
#populaires p{
    margin: 6px 0;
}
#populaires .star{
    margin-bottom: 1rem;
}
/* ANCHOR Etoiles */
.star{
    color: var(--gris);
}
.star3 .fas:nth-child(-n+3){
    color: var(--bleu);
}
.star4 .fas:nth-child(-n+4){
    color: var(--bleu);
}
.star5 .fas:nth-child(-n+5){
    color: var(--bleu);
}

/* ANCHOR Populaires img position */

#populaires .container-flex .card-container:nth-child(1) .content-img {
    background-position: -10px 0px;
    background-size: 188px;
  }
#populaires .container-flex .card-container:nth-child(2) .content-img {
    background-position: -37px -28px;
    background-size: 198px;
}
#populaires .container-flex .card-container:nth-child(3) .content-img {
    background-position: -11px -82px;
    background-size: 150px;
  }
/* ANCHOR Activites marseille */
#activites-marseille{
    display: flex;
    flex-direction: column;

}
#activites-marseille .container-activite{
    height: auto;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#activites-marseille .column{
    width: 270px;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

}
#activites-marseille a{
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 21px;
    overflow: hidden;
    box-shadow: 0 0 9px rgb(0 0 0 / 20%);
}

#activites-marseille figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    break-inside: avoid;
    height: 100%;
}
#activite-marseille figure > img {
    grid-row: 1 / -1;
    grid-column: 1;
}
#activites-marseille figcaption{
    grid-row: 2;
    grid-column: 1;
    background-color: white;
    padding: 0 .5em;
    justify-self: start;
    height: 50px;
    width: calc(100% - 1em);
    display: flex;
    align-items: center;
}
#activites-marseille .img{
    max-width: 100%;
    height: 100%;
    background-size: cover;
    display: block;
}
#activites-marseille .xsmall{
    height: 145px;
    display: block;
}
#activites-marseille .small{
    height: 170px;
    display: block;
}
#activites-marseille .xmedium{
    height: 185px;
    display: block;
}
#activites-marseille .medium{
    height: 210px;
    display: block;
}

/* ANCHOR Activité img position */
#activites-marseille .column:first-child .img{
    background-position-x: -140px;
}
#activites-marseille .column:nth-child(2) a:first-child .img{
    background-position-y: -140px;
}
#activites-marseille .column:nth-child(2) a:last-child .img{
    background-position-y: -35px;
}
#activites-marseille .column:nth-child(3) .img{
    background-size: 700px;
    background-position-x: -225px;
    background-position-y: -80px;
}
#activites-marseille .column:nth-child(4) a:last-child .img{
    background-position-y: -15px;
}

/* ANCHOR Footer */
footer {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--gris);
    padding: 50px 68px;
    align-items: center;
}

footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 18%;
}
footer ul:last-child{
    margin: 0;
}
footer ul li:first-child{
    padding-bottom: 25px;
}
footer ul li{
    padding-bottom: 15px;
}
footer ul li strong{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}
footer ul li a{
    display: flex;
    color: black;
    text-decoration: none;
    height: 100%;
    align-items: center;
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 14.5px;
}
footer ul li a:hover{
    text-decoration: underline;
}

/* ANCHOR responsive */
@media screen and (max-width:1213px){
    #hebergements-marseille .container-flex{
        overflow: scroll;
    }    
}
@media screen and (max-width:1269px) {
    
    .column.align-wide{
        flex-wrap: nowrap;
    }
    #activites-marseille .container-activite{
        gap: 45px;
    }
    #activites-marseille .column{
        gap: 45px;
    }

}
@media screen and (max-width:1019px) {
    .column.align-wide{
        flex-wrap: wrap;
        gap: 45px;
        flex-direction: column-reverse;
    }
    #hebergements-marseille{
        width: 100%;
        max-width: 100%;
    }
    #hebergements-marseille .container-flex{
        justify-content: center;
        column-gap: 45px;
        overflow: visible;
        max-height: fit-content;
    }
    #populaires{
        width: 100%;
        max-width: 100%;
    }
    #populaires .container-flex{
        flex-direction: row;
    }
    #populaires > * {
        margin: 35px 35px;
    }
    #populaires .card-container.card-hebergements {
        width: 100%;
        height: 130px;
    }
    #populaires .content-text {
        width: 100%;
    }
    
}
@media screen and (min-width:980px) and (max-width:1269px){
    #activites-marseille .column:nth-child(4){
        width: 100%;
        flex-direction: row;
    }
    #activites-marseille .column a{
        width: 270px
    }
    #activites-marseille .column:nth-child(4) a:first-child{
        height: 185px;
    }
}
@media screen and (max-width:979px){
    #activites-marseille .container-activite{
        justify-content: center; 
        row-gap: 45px;    
        column-gap: 5%;
    }
    
}

@media screen and (max-width:648px){
    #hebergements-marseille .container-flex{
        overflow: unset;
        max-height: fit-content;
        flex-direction: column;
        align-items: center;
    }
    #activites-marseille .container-activite{
    row-gap: 30px;
    }
}
@media screen and (max-width: 899px){
    #hebergements-marseille .card-container {
        width: 270px;
        height: 170px;
    }
    #hebergements-marseille > * {
        margin: 35px 10px;
    }
    #activites-marseille > * {
        margin: auto 10px;
    }
}







@media screen and (max-width:768px){

    #navbar-top ul{
        width: 100%;
        padding: 0;
        justify-content: space-around;
        margin-top: 1rem;
    }
    #navbar-top ul li:last-child{
        height: 45px;
        border: 0px;
    }   
    #navbar-top{
        position: relative;
        height: fit-content;
        padding-top: 20px;
    }    
    #navbar-top .nav-menu{
        padding: 0;
        margin: 0;
        width: 50%;
        justify-content: center;
        border-bottom: 2px solid var(--bleu-clair);
    }
    #navbar-top .nav-menu:hover{
        border-bottom: 2px solid var(--bleu); 
    }
    #navbar-top .nav-abs{
        position: absolute;
        top: 20px;
        right: 0;
    }
    #navbar-top ul .nav-menu:hover:before {
        height: 0px;
    }
    #navbar-top ul .nav-abs:before {
        content: "";
        position: absolute;
        background-color: var(--bleu);
        width: 100%;
        height: 0px;
        left: 0;
        top: -20px;
    }
    #navbar-top ul .nav-avs:hover:before {
        height: 3px;
        transition: 0.2s;
    }

}


@media screen and (max-width:480px){
    #logo{
        padding-left: 10px;
    }
    .header{
        padding: 0 10px;
    }
    .page-padding{
        padding:0 0px
    }
    .bg-grey{
        border-radius: 0;
    }
    h2{
        text-align: left;
        margin: 1rem 0;
    }
    #hebergements-marseille{
        background-color: white;
    }
    #hebergements-marseille .container-flex .card-container .content-img{
        background-size: 100% !important;
    }
    #populaires .card-container {
        width: 270px;
        height: 130px;
    }
    #populaires > * {
        margin: 35px 10px
    }
    #activites-marseille a {
        height: 160px !important;
    }
    #activites-marseille .column {
        height: fit-content;
    }
        #populaires > * {
        margin: 35px 10px
    }
    .localisation .loupe{
        display: block;
    }
    .find p{
        display: none;
    }
    .localisation .find{
        width: 45px;
        border-radius: 10px;
    }
    #activites-marseille .column:nth-child(1) a .img{
        background-position-x: 0px;
        background-position-y: -25px;
    }
    #activites-marseille .column:nth-child(3) .img{
        background-position-x: 0;
        background-position-y: -75px;
        background-size: 100%;
    }
    #activites-marseille .column:nth-child(4) a:last-child .img {
        background-position-y: -50px;
    }
    #activites-marseille .column:nth-child(2) a:first-child .img {
        background-position-y: -205px;
    }
    #hebergements-marseille .card-container {
        width: 100%;
    }
    #activites-marseille .column {
        width: 100%;
    }

    footer{
        padding:50px 35px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;
    }

}