:root{
    --bleu: #0065FC;
    --bleu-clair: #DEEBFF;
    --gris: #F2F2F2;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Raleway', sans-serif; */

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: white;
}

h4 {
    font-size: 1rem;
}
p{
    font-size:0.9rem;
}

.star{
    font-size: 0.7rem;
    display: flex;
}
/* ANCHOR NavBar */

#navbar-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#navbar-top ul{
    display: flex;
    list-style: none;
    height: 100%;
    margin: 0;
    align-content: center;
}
#navbar-top ul li {
    height: 100%;
    display: flex;
    position: relative;
    margin: 0px 2em;
    padding: 0 20px;
}
#navbar-top ul li:last-child a {
    color: var(--bleu);
}
#navbar-top ul li:last-child {
    margin-right: 0;
    
}

#navbar-top a{
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
}
#navbar-top ul a{
    display: flex;
    color: black;
    text-decoration: none;
    height: 100%;
    align-items: center;
    position: relative;
}

#navbar-top ul li:before {
    content: "";
    position: absolute;
    background-color: var(--bleu);
    width: 100%;
    height: 0px;
    left: 0;
    top: 0;
}
#navbar-top ul li:hover a {
    color: var(--bleu);
}
#navbar-top ul li:hover:before {
    height: 3px;
    transition: 0.2s;
}


/* ANCHOR Header */
#page{
    background-color: #fff;
    padding: 0 3rem;
}
.localisation{
    display: flex;
    border-radius: 10px;
    width: 350px;
    height: 50px;
}
.localisation .gps{
    width: 50px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px 0 0 10px;
}
.localisation .gps i{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.localisation input{
    width: 185px;
    border: 0.1px solid rgba(0, 0, 0, 0.1);
    font-weight: 600;
    padding: 0 20px;
}
.localisation .find{
    width: 107px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bleu);
    border-radius: 0 10px 10px 0;
    color: white;
    font-weight: 400;
}

.filter{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
}
.filter .label{
    height: 50px;
    line-height: 50px;
}
.filter ul{
    list-style: none;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
}
.filter li{
    height: 50px;
    width: auto;
    padding-right: 20px;
    display: flex;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1) inset;
    border-radius: 36px;
    margin: 0 20px;
}
.filter .icon{
    background-color: var(--bleu-clair);
    color: var(--bleu);
    border-radius: 25px;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    position: relative;
}
.filter i{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.tag{
    height: 50px;
}
.filter li:hover .icon{
    background-color: var(--bleu);
    color: var(--bleu-clair);
}
.filter li:hover{
    cursor: pointer;
}
.info{
    display: flex;
    align-items: center;
}
.info .icon-info{
    border-radius: 25px;
    width: 30px;
    height: 30px;
    color: var(--bleu);
    position: relative;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
    margin-right: 10px;
}
.info .icon-info i{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

/* ANCHOR Hébergements */
.first-section{
    display: flex;
    justify-content: space-between;
    /* height: 831px; */
    flex-wrap: wrap;
}

.first-section #hebergements-marseille{
    max-width: 1174px;
    background-color: var(--gris);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 3rem;
}
.first-section #populaires{
    max-width: 556px;
    background-color: var(--gris);
    box-sizing: border-box;
    padding: 2rem 3rem;
}
.first-section h2:first-child{
    margin: 0;
    margin-bottom: 0;
    padding: 0;
}
.first-section h2:last-child{
    margin: 0;
    margin-top: 0;
    padding: 0;
        padding: 2rem 3rem;
}
.first-section section{
    border-radius: 25px;
}
.first-section #hebergements-marseille ul{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 1rem;
    justify-content: center;
}

@media screen and (min-width:1881px){
    .first-section #hebergements-marseille ul li{
        width: 315px;
        border-radius: 25px;
        background-color: white;
        overflow: hidden;
        box-shadow: 0 0 9px rgba(0,0,0,0.2);
        margin: 20px;
        height: fit-content;
    }
    .first-section #hebergements-marseille ul .n01, .first-section #hebergements-marseille ul .n04 {
        margin-left: 0;
    }
    .first-section #hebergements-marseille ul .n03, .first-section #hebergements-marseille ul .n06 {
        margin-right: 0;
    }
}
@media screen and (max-width:1880px){
    .first-section #hebergements-marseille ul li{
        /* flex-basis: 315px; */
        max-width: 418px;
        border-radius: 25px;
        background-color: white;
        overflow: hidden;
        box-shadow: 0 0 9px rgba(0,0,0,0.2);
        margin: 20px;
        height: fit-content;
        /* flex-grow: 1; */
    }
}

.first-section #hebergements-marseille ul li img{ 
    width: 100%;
    transform: translateY(-25px);
}
.first-section #hebergements-marseille .container{
    margin: 7px;
    border-radius: 25px;
    overflow: hidden;
}
.first-section #hebergements-marseille .content1{
    height: 150px;
    overflow: hidden;
}
.first-section #hebergements-marseille .content2{
    height: fit-content;
    margin-left: 10px;
}

.first-section #hebergements-marseille .content2 h4{
    margin: 10px 0;
}
.first-section #hebergements-marseille .content2 p{
    margin: 10px 0;
}
#page .first-section #hebergements-marseille .n04 img{
    transform: translateY(-69px);
}
#page .first-section #hebergements-marseille .n05 img{
    transform: translateY(-2px);
}
#page .first-section #hebergements-marseille .n06 img{
    transform: translateY(-150px);
}

/* ANCHOR Les populaires */

.container-title{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.container-title i{
    font-size: 22px;
}
.first-section #populaires ul {
    list-style: none;
}
.first-section #populaires ul li{
    max-width: 458px;
    border-radius: 25px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0 9px rgb(0 0 0 / 20%);
    margin: 44px 20px;
    height: 140px;
}
.first-section #populaires ul li img{ 
    max-width: 241px;
    transform: translateX(-80px);
}


.first-section #populaires ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 1rem;
    justify-content: center;
}
.first-section #populaires .container {
    display: flex;
    border-radius: 25px;
    margin: 4px;
    overflow: hidden;
    height: calc(100% - 8px);
    columns: 2;
}
.first-section #populaires .content1 {
    width: 135px;
    overflow: hidden;
}
.first-section #populaires .content2{
    display: flex;
    margin: 10px 10px;
    flex-direction: column;
    max-width: 170px;
    justify-content: space-between;
}
.first-section #populaires .content2 h4{
    margin: 0 0 10px 0;
}
.first-section #populaires .content2 p{
    margin: 10px 0;
}
#page .first-section #populaires .n03 img{
    transform: translate(1px, -76px);
    max-width: 150px;
}

.fa-star{
    color: var(--bleu);
}
/* ANCHOR ACTIVITES MARSEILLE */

#activite-marseille{
    margin:70px 0;
}

#activite-marseille .img{
    max-width: 100%;
    height: 100%;
    background-size: cover;
    display: block;
}
#activite-marseille figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    break-inside: avoid;
    height: 100%;
  }
activite-marseille figure > img {
    grid-row: 1 / -1;
    grid-column: 1;
}
  
  #activite-marseille a{
    color: black;
    text-decoration: none;
    display: block;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 9px rgba(0,0,0,0.2);
    height: 36rem;
    max-width: 400px;
  }
  
  #activite-marseille figcaption {
    grid-row: 2;
    grid-column: 1;
    background-color: white;
    padding: .2em .5em;
    justify-self: start;
  }
  
#activite-marseille .container-activite {
    column-count: 4;
    column-gap: 3rem;
    row-gap: 3rem;
    height: auto;
    margin: 0 1rem;
  }

  .spacing{
    height: 3.6rem;
    content: "";
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    break-inside: avoid;
  }


footer {
    height: 140px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--gris);
    padding: 50px 68px;
    align-items: center;
}
footer ul{
    list-style: none;
    width: calc((100vw / 3) - 46px);
    margin: 0;
    padding: 0;
}
footer ul li:first-child{
    padding-bottom: 25px;
}
footer ul li{
    padding-bottom: 15px;
}
footer ul li a{
    display: flex;
    color: black;
    text-decoration: none;
    height: 100%;
    align-items: center;
    position: relative;
}
footer ul li a:hover{
    text-decoration: underline;
}

/* ANCHOR Responsive mobile */

@media screen and (max-width: 768px) {
    #activite-marseille .container-activite {
        column-count: 1;
    }
    body #activite-marseille a {
        height: 13rem;
        margin: 40px 20px;
    }
    #activite-marseille h4 {
        margin: 1rem;
    }

    #hebergements-marseille{
        margin-top: 3rem;
    }
    #populaires{
        margin-top: 3rem;
    }
  }